<div class="home">
  <h1 class="home_title">Державний реєстр загальнообов'язкового державного соціального страхування</h1>
  <span>організаційно-технічна система, призначена для накопичення, зберігання та використання інформації про збір та ведення обліку єдиного внеску на загальнообов'язкове державне соціальне страхування, його платників та застрахованих осіб, що складається з реєстру страхувальників та реєстру застрахованих осіб.</span>
  <div>
    <a target="_blank" href="https://ips.ligazakon.net/document/t102464?an=1370&amp;ed=2013_07_04" class="info_zakon">
      ВР України, Закон "Про збір та облік єдиного внеску на загальнообов'язкове державне соціальне страхування" від
      08.07.2010 N 2464-VI
    </a>
    <a href="https://zakon.rada.gov.ua/laws/show/1105-14#Text" class="info_zakon">Закон України «Про загальнообов'язкове державне соціальне страхування»</a>
    <a href="https://i.factor.ua/ukr/law-72/section-408/article-24710/" class="info_zakon">Стаття 16. Призначення та структура Державного реєстру</a>
    <a href="https://i.factor.ua/ukr/law-72/section-408/article-29878/" class="info_zakon">Стаття 17. Використання інформації з Державного реєстру</a>
    <a href="https://i.factor.ua/ukr/law-72/section-408/article-29879/" class="info_zakon">Стаття 18. Джерела формування Державного реєстру</a>
    <a href="https://i.factor.ua/ukr/law-72/section-408/article-24713/" class="info_zakon">Стаття 19. Реєстр страхувальників</a>
    <a href="https://i.factor.ua/ukr/law-72/section-408/article-29880/" class="info_zakon">Стаття 20. Реєстр застрахованих осіб</a>
    <a href="https://i.factor.ua/ukr/law-72/section-408/article-24715/" class="info_zakon">Стаття 21. Захист інформації Державного реєстру</a>
    <a href="https://i.factor.ua/ukr/law-72/section-408/article-29881/" class="info_zakon">Стаття 22. Посвідчення застрахованої особи</a>
  </div>
</div>


