<div class="header">
  <div class="logo_title">
    <img class="logo" src="../../assets/Logo_of_Ministry_of_Justice_of_Ukraine.svg.png" alt="logo">
    <h2 class="head_title">Державний реєстр загальнообов'язкового державного соціального страхування</h2>
  </div>
  <nav class="header_nav">
    <a class="golovna" routerLink="auth" routerLinkActive="active">Увійти в аккаунт</a>
    <a class="golovna" routerLink="home" routerLinkActive="active">Головна</a>
    <a class="golovna" [routerLink]="['']">Страхувальникам</a>
    <a class="golovna" [routerLink]="['']">Застрахованим особам</a>
    <a class="golovna" [routerLink]="['']">Запитання-відповіді</a>
  </nav>

</div>

